<%- include("partials/header"); -%>

<% console.log(repos) %>
<ul>
<% for(var i=0 ; i<repos.length ; i++ ){ %>
   <li> <a href="<%=repos[i].html_url%>"> <%=repos[i].name%> </a> </li>
    <% } %>
</ul>
<%- include("partials/footer"); -%>
